.min-vh-50 {
    min-height: 50vh;
}

.last-child-no-border:last-child {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.btn-primary-premium:disabled {
    background: #cbd5e1;
    cursor: not-allowed;
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}

.error-log::-webkit-scrollbar {
    width: 6px;
}

.error-log::-webkit-scrollbar-track {
    background: transparent;
}

.error-log::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}
