.active-lang {
    background-color: var(--primary) !important;
    color: white !important;
    box-shadow: 0 2px 4px rgba(56, 189, 248, 0.3);
}

.btn-xs {
    padding: 0.1rem 0.25rem;
    font-size: 0.75rem;
    line-height: 1;
}
