name: Deploy to EasyPanel

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy API
        run: |
          curl -X POST "${{ secrets.EASYPANEL_API_WEBHOOK }}"

      - name: Deploy Frontend
        run: |
          curl -X POST "${{ secrets.EASYPANEL_FRONTEND_WEBHOOK }}"
